button.app-button {
    padding: .5rem 1rem;
    margin: 1rem 0;
    background-color: var(--app-bg-primary);
    color: white;
    border: none;
    border-radius: .125rem;
    box-shadow: 0 0 10px 0 rgba(0, 0 ,0, .3);
}

button.app-button.inverted {
    background-color: transparent;
    color: var(--app-bg-primary);
    border: 1px solid var(--app-bg-primary);
}

header.app-header {
    height: 56px;
    padding: 1rem;
    background-color: var(--app-bg-primary);
    color: white;
}

article.todo {
    margin-top: 1rem;
    padding: 1rem;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: white;
}

article.todo h1 {
    color: grey;
}

article.todo small {
    color: firebrick;
}

article.todo small.sync {
    color: forestgreen;
}

article.todo a {
    text-decoration: none;
    color: inherit;
}

form input {
    width: 100%;
    border: 1px solid silver;
    border-radius: .125rem;
    padding: .5rem;
}

form {
    padding: 1rem;
}